<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/authenticate.css">
    <title>Register</title>
</head>

<body>
    <div class="header">
        <a href="/" class="logo">JUSTIFY MINE</a>
        <div class="header-right">
            <a class="active" href="/">Accueil</a>
            <a href="/login">Connexion</a>
            <a href="/register">Inscription</a>
        </div>
    </div>
    <div class="containerWrapper">
        <div id="container" class="active">
            <div class="register">
                <div class="content">
                    <h1>Inscription</h1>
                    <form action="/auth/register" method="POST">
                        <input type="text" placeholder="Nom d'utilisateur" name="username">
                        <input type="email" placeholder="email" name="email">
                        <input type="password" placeholder="password" name="password">
                        <span class="clearfix"></span>
                        <button>Inscription</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>


</html>